@model ProductDetailsModel
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    
    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }
}

<!--product breadcrumb-->
@Html.Action("ProductBreadcrumb", "Catalog", new { productId = Model.Id })
<div class="clear">
</div>
<div class="product-details-page">
    @using (Html.BeginRouteForm("Product", new { productId = Model.Id, SeName = Model.SeName }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="product-essential">
            <div class="product-details-info">
                @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "productdetails_before_pictures" })
                <!--product pictures-->
                @Html.Partial("_ProductDetailsPictures", Model)
                @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "productdetails_after_pictures" })
                <div class="overview">
                    <h1 class="productname">
                        @Model.Name
                    </h1>
                    @{
                        var url = "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.bicicletasdesnivell.com/";
                        url += Model.SeName + "-p_" + Model.Id;
                        url += "/&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=60";
                      }
                    <iframe src="@url" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:60px;" allowTransparency="true"></iframe>
                    <br />
                    <div class="shortdescription">
                        @Html.Raw(Model.ShortDescription)
                    </div>
                    <div class="clear">
                    </div>
                    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "productdetails_overview_top" })
                    <!--product manufacturers-->
                    @Html.Action("ProductManufacturers", "Catalog", new { productId = Model.Id })
                    <div class="clear">
                    </div>
                    <!--product variants-->
                    <div class="product-variant-list">
                        @foreach (var variant in Model.ProductVariantModels)
                        {
                            var dataDictVariant = new ViewDataDictionary();
                            dataDictVariant.TemplateInfo.HtmlFieldPrefix = string.Format("variant_{0}", variant.Id);
                            @Html.Partial("_ProductVariantLine", variant, dataDictVariant)
                        }
                    </div>
                    <div class="clear">
                    </div>
                    <!--product reviews-->
                    @Html.Action("ProductReviewOverview", "Catalog", new { productId = Model.Id })
                    <div class="clear">
                    </div>
                    <br />
                    <div class="overviewextrabuttons">
                    @Html.Action("ProductEmailAFriendButton", "Catalog", new { productId = Model.Id })
                    &nbsp;
                    @Html.Action("CompareProductsButton", "Catalog", new { productId = Model.Id })                                                          
                    </div>
                    <div class="clear">
                    </div>
                    @Html.Action("ShareButton", "Catalog")
                    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "productdetails_overview_bottom" })
                </div>                
                <div class="fulldescription">
                    @Html.Raw(Model.FullDescription)
                </div>
            </div>

        </div>
        <div class="clear">
        </div>
        <div class="product-collateral">           
            <div class="clear">
            </div>
            <div>
                @Html.Action("ProductSpecifications", "Catalog", new { productId = Model.Id })
            </div>
            <div class="clear">
            </div>
            <div>
                @Html.Action("ProductTags", "Catalog", new { productId = Model.Id })
            </div>
            <div class="clear">
            </div>
            <div id="wrap">
                <div>
                    @Html.Action("ProductsAlsoPurchased", "Catalog", new { productId = Model.Id })
                </div>
                <div class="clear">
                </div>
                <div>
                    @Html.Action("RelatedProducts", "Catalog", new { productId = Model.Id })
                </div>
            </div>
        </div>
    }
</div>
