@model IList<ProductOverviewModel>

@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="related-products-grid">
        <div class="title">
            @T("Products.RelatedProducts")
        </div>
        <div class="clear">
        </div>
        @*@(Html.DataList<ProductOverviewModel>(Model, 3,
            @<div class="item-box">
                <div class="item">
                    <div class="product-title">
                        <a href="@Url.RouteUrl("Product", new { productId = item.Id, SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                            @item.Name</a>
                    </div>
                    <div class="picture">
                        <a href="@Url.RouteUrl("Product", new { productId = item.Id, SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                            <img alt="@item.DefaultPictureModel.AlternateText" src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" /></a>
                    </div>
                </div>
            </div>
            ))*@
@{    
    //resources
       Html.AppendCssFileParts(@Url.Content("~/Themes/Desnivell/Content/jcarouse_horizontal.css"));
       Html.AppendScriptParts(@Url.Content("~/Scripts/jquery-1.7.1.min.js"));
       Html.AppendScriptParts(@Url.Content("~/Scripts/jquery.jcarousel-all.min.js"));    
}

<script type="text/javascript">
    $(document).ready(function () {
        var relatedCarousel = $('#mycarouselRelated').jcarousel({
            // Core configuration goes here
            wrap: 'circular'
        });

        $('#mycarouselRelated-pagination').jcarouselPagination({
            // Configuration options
            carousel: relatedCarousel
        });

        $('#related-prev').jcarouselControl({
            target: '-=1',
            carousel: relatedCarousel
        });

        $('#related-next').jcarouselControl({
            target: '+=1',
            carousel: relatedCarousel
        });
    });
</script>
    @if (Model.Count > 0)
    {
    <div class="jcarousel-skin-default">
        <div class="jcarousel" id="mycarouselRelated">
        <ul>
        @foreach (var item in Model)
        {
            <li class="jcarousel">
                <div class="item">
                    <div class="product-title">
                        <a href="@Url.RouteUrl("Product", new { productId = item.Id, SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                            @item.Name</a>
                    </div>
                    <div class="picture">
                        <a href="@Url.RouteUrl("Product", new { productId = item.Id, SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
            
                            <img alt="@item.DefaultPictureModel.AlternateText" src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title"/>
            
                        </a>
                    </div>
                </div>
            
            </li>  
        }
        </ul>
        </div>
        <!-- Controls -->
        <a id="related-prev" class="jcarousel-prev" href="#">Prev</a>
        <a id="related-next" class="jcarousel-next" href="#">Next</a>
        <!-- Pagination -->
        <div id="mycarouselRelated-pagination" class="jcarousel-pagination">
        </div>
        </div>
        
    }
    
    </div>
}