@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                effect: '', // Specify sets like: 'fold,fade,sliceDown'
                slices: 2, // For slice animations
                boxCols: 1, // For box animations
                boxRows: 1, // For box animations
                animSpeed: 500, // Slide transition speed
                pauseTime: 3000, // How long each slide will show
                startSlide: 0, // Set starting Slide (0 index)
                directionNav: true, // Next & Prev navigation
                directionNavHide: true, // Only show on hover
                controlNav: true, // 1,2,3... navigation
                controlNavThumbs: true, // Use thumbnails for Control Nav
                controlNavThumbsFromRel: true, // Use image rel for thumbs
                controlNavThumbsSearch: '.jpg', // Replace this with...
                controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
                keyboardNav: true, // Use left & right arrows
                pauseOnHover: true, // Stop animation while hovering
                manualAdvance: false, // Force manual transitions
                captionOpacity: 0.8, // Universal caption opacity
                prevText: 'Prev', // Prev directionNav text
                nextText: 'Next', // Next directionNav text
                beforeChange: function () { }, // Triggers before a slide transition
                afterChange: function () { }, // Triggers after a slide transition
                slideshowEnd: function () { }, // Triggers after all slides have been shown
                lastSlide: function () { }, // Triggers when last slide is shown
                afterLoad: function () { } // Triggers when slider has loaded
            });
        });
   </script>
   <script src="@Url.Content("~/Scripts/jquery.nivo.slider.pack.js")" type="text/javascript"></script>
}
@*
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "home_page_top" })
@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
*@
<div class="clear">
</div>
@Html.Action("TopicBlock", "Topic", new { systemName = "NivoSlider" })
<div class="clear">
</div>
@Html.Action("HomepageCategories", "Catalog")
<div class="clear">
</div>
@Html.Action("HomepageProducts", "Catalog")
<div class="clear">
</div>
@Html.Action("HomepageBestSellers", "Catalog")
<div class="clear">
</div>
@Html.Action("ManufacturerAll", "Catalog")
<div class="clear">
</div>
@*@Html.Action("HomePageNews", "News")
<div class="clear">
</div>*@
@Html.Action("HomePagePolls", "Poll")
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "home_page_bottom" })
